body {
    color: rgb(80,80,80);
    padding: 20px 10px;
    font-family: 'Oswald', sans-serif;
}
h1, h2 {
    text-align:center;
}
h1 {
    font-size: 6em;
    color: #ea4f3f;
    margin-bottom: 0;
}
h2 {
    font-style: italic;
}
.daIntro {
    text-align: center;
    margin:0 auto;
    max-width: 500px;
}
.daIntro .baseline{
    font-style: italic;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 2.5em;
}
.daIntro .rules{
    text-align: left;
    font-size: 1.2em;
}
#startLink {
    padding: 8px 30px;
    cursor: pointer;
    font-size: 2em;
    text-transform: uppercase;    
    color: rgb(255,255,255);
    display: table;
    text-align: center;
    margin: 50px auto 30px;
    background: rgb(80,80,80);
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
#startLink:hover {
    background: #ea4f3f;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.cube {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
}
#answers {
    text-align: center;
    margin: 0;
    padding: 0;
}
.option {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    background: rgb(80,80,80);
    color: rgb(255,255,255);
    padding: 8px 14px;
    margin: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.blocScore {
    background: rgb(190,190,190);
    color: rgb(255,255,255);
    display: table;
    text-align: center;
    margin: 30px auto;
}
.blocScore p {
    padding: 0 40px;
}
#score {
    font-weight: bold;
    font-size:20 pt;
}
.popin {
    display:none;
    position:absolute;
    left:0; right:0; top:0; bottom:0;
    background: rgba(0,0,0,0.6);
}
.popin .inner {
    background: white;
    padding: 20px 40px;
    margin: 120px auto;
    display: table;
    font-size: 20pt;
    text-align: center;
}
.daEnd .inner {
    font-size: 16pt;
}
.fini {
    font-size: 2em;
}
.relaunch {
    display: block;
    cursor: pointer;
    padding: 4px 10px;
    background: rgb(190,190,190);
    color: white;
    margin-top: 10px;
}
.relaunch:hover {
    background: rgb(255,150,20);
}
.popin.active {
    display:block;
}
.faux .details {
    font-size: 14pt;
    display: block;
    margin-top: 10px;
}
.daEnd .details {
    display: block;
    font-size: 1em;
    margin-top: 0.8em;
}
.scoreResult, .timerResult {
    font-size: 1.6em;
    padding: 0 5px;
}
.faux #rightAnswer {
    font-size: 14pt;
}
footer {
    text-align: center;
    margin-top: 30px;
}